<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style/style.css"/>
    <!--<script src="/componentes/extras.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="controllers/pjController.js"></script>
    <script src="services/fichaProvider.js"></script>
    <script src="services/toposProvider.js"></script>
    <script src="directives/rasgoTopo.js"></script>
    <script src="directives/rasgoGeneracion.js"></script>
    <script src="directives/rasgoEtiquetas.js"></script>
    <script src="directives/fichaVampiro.js"></script>
    <script src="directives/rasgoVoluntad.js"></script>
    <script src="directives/rasgoSenda.js"></script>
    <script src="directives/rasgoReserva.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="style/xeditable.css" rel="stylesheet">


</head>

<body ng-app="crhope">



<div style="" ng-controller="pjController as ctrl">
    <div style="display: non;">

        <ul>
            <li ng-repeat="rasgos in ctrl.datosPj.modulos[3]"> {{rasgos}}</li>
        </ul>
        <input type="text" ng-model="ctrl.datosPj.atributosFisicos.Nombre[0]"/>
        {{ctrl.maximo}}
    </div>
    <div style="float:right;">
        <button ng-click="ctrl.cargarDatos()">Cargar</button>
        <button ng-click="ctrl.reset()">Reset</button>

     </div>

<!--<ficha-vampiro ng-if="ctrl.datosPj!=null" ficha="ctrl.datosPj"></ficha-vampiro>-->

<!--<fuerza-voluntad modulo="ctrl.datosPj.modulos[3]"></fuerza-voluntad>-->

<!--<div class="hojaPersonaje">-->
    <!--<generacion ficha="ctrl.datosPj"></generacion>-->


    <!--<div ng-repeat="n in ctrl.datosPj.modulos">-->
        <!--<span ng-if="($index % 3)===0"> <div class="linea"></div></span>-->
        <!--<span ng-if="n.tipo===('topos')||n.tipo==='topos-fijo'"><topos  modulo="n"></topos>   </span>-->
        <!--<span ng-if="n.tipo==='texto-editable'"><texto-variable modulo="n"></texto-variable></span>-->
    <!--</div>-->

<!--</div>-->

    <div class="hojaPersonaje">
        <h1>Ficha de PJ</h1>
        <generacion generacion="ctrl.generacion" maximo="5"></generacion>



            <reserva generacion="ctrl.generacion"></reserva>

        </div>


    </div>
</div>







</div>

</body>
</html>