<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style/style.css"/>
    <script src="/componentes/extras.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="controllers/pjController.js"></script>
    <script src="services/fichaProvider.js"></script>
    <script src="directives/rasgoTopo.js"></script>
    <script src="directives/rasgoGeneracion.js"></script>
    <script src="directives/rasgoEtiquetas.js"></script>
    <!--<script src="directives/fuerzaVoluntad.js"></script>-->
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="style/xeditable.css" rel="stylesheet">


</head>

<body ng-app="crhope">



<div style="" ng-controller="pjController as ctrl">
    <div style="display: non;">

        <ul>
            <li ng-repeat="rasgos in ctrl.datosPj.modulos[3]"> {{rasgos}}</li>
        </ul>
        <input type="text" ng-model="ctrl.datosPj.atributosFisicos.Nombre[0]"/>

    </div>
    <div style="float:right;">
        <button ng-click="ctrl.cargarDatos()">Cargar</button>
        <button ng-click="ctrl.reset()">Reset</button>

     </div>



<!--<fuerza-voluntad modulo="ctrl.datosPj.modulos[3]"></fuerza-voluntad>-->

<!--<div class="hojaPersonaje">-->
    <!--<generacion ficha="ctrl.datosPj"></generacion>-->


    <!--<div ng-repeat="n in ctrl.datosPj.modulos">-->
        <!--<span ng-if="($index % 3)===0"> <div class="linea"></div></span>-->
        <!--<span ng-if="n.tipo===('topos')||n.tipo==='topos-fijo'"><topos  modulo="n"></topos>   </span>-->
        <!--<span ng-if="n.tipo==='texto-editable'"><texto-variable modulo="n"></texto-variable></span>-->
    <!--</div>-->

<!--</div>-->

{{ctrl.maximo}}

    <div class="hojaPersonaje">
        <h1>Ficha de PJ</h1>
        <generacion generacion="ctrl.datosPj.generacion" maximo="ctrl.maximo"></generacion>
        <div>
            <etiqueta modulo="ctrl.datosPj.modulos[0]"> </etiqueta>
            <etiqueta modulo="ctrl.datosPj.modulos[1]"> </etiqueta>
            <etiqueta modulo="ctrl.datosPj.modulos[2]"> </etiqueta>
        </div>

        <div class="linea">
            <h3>Atributos</h3>
            <topos modulo="ctrl.datosPj.modulos[3]" maximo="ctrl.maximo" bloqueado></topos>
            <topos modulo="ctrl.datosPj.modulos[4]" maximo="ctrl.maximo"  ></topos>
            <!--<topos modulo="ctrl.datosPj.modulos[5]"></topos>-->
        </div>
        <!--<div class="linea">-->
            <!--<fuerza-voluntad modulo="ctrl.datosPj.modulos[6]"></fuerza-voluntad>-->
        <!--</div>-->

        <!--<div class="linea">-->
            <!--<h3>Habilidades</h3>-->
            <!--<topos modulo="ctrl.datosPj.modulos[3]"></topos>-->
            <!--<topos modulo="ctrl.datosPj.modulos[4]"></topos>-->
            <!--<topos modulo="ctrl.datosPj.modulos[5]"></topos>-->
        <!--</div>-->
        <!--<div class="linea">-->
            <!--<h3>Ventajas</h3>-->
            <!--<topos modulo="ctrl.datosPj.modulos[6]"></topos>-->
            <!--<topos modulo="ctrl.datosPj.modulos[7]"></topos>-->
            <!--<topos modulo="ctrl.datosPj.modulos[8]"></topos>-->
        <!--</div>-->
        <!--<div class="linea">-->
            <!--<topos modulo="ctrl.datosPj.modulos[9]"></topos>-->

        </div>
    </div>






</div>

</body>
</html>