.desmarcado {

    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: whitesmoke;
    border:solid black 3px;
    float: left;
    margin-right:2px;
    transition: 0.5s;
    cursor:pointer;

}
.marcado {

    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: black;
    border:solid black 3px;
    float: left;
    margin-right:2px;
    transition: 0.5s;
    cursor:pointer;
}

.linea {
    clear:both;

}

.bloque {
    float:left;
    min-width: 250px;
    border: solid 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    height: 100%;
}
.etiqueta{
    /*float:left;*/
    margin:5px 20px
}

.hojaPersonaje {
    /*background-color: cornflowerblue;*/
}
svg {
    /*width:100%;*/
    /*height: auto;*/
    /*margin-right: -50px;*/
    /*padding: 0;*/

}