<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style/style.css"/>
    <!--<script src="/componentes/extras.js"></script>-->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="crhope.js"></script>
    <script src="core/core.module.js"></script>
    <script src="fichaPersonaje/fichaPersonaje.module.js"></script>
    <script src="services/fichaProvider.js"></script>
    <script src="fichaPersonaje/fichaServices.js"></script>
    <script src="fichaPersonaje/fpPuntos/fpPuntos.js"></script>
    <script src="fichaPersonaje/fpGeneracion/fpGeneracion.js"></script>
    <script src="fichaPersonaje/fpEtiqueta/fpEtiqueta.js"></script>
    <script src="fichaPersonaje/fpVampiro/fichaVampiro.js"></script>
    <script src="fichaPersonaje/fpVoluntad/rasgoVoluntad.js"></script>
    <script src="fichaPersonaje/fpSenda/rasgoSenda.js"></script>
    <script src="fichaPersonaje/fpReserva/fpReserva.js"></script>
    <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="style/xeditable.css" rel="stylesheet">


</head>

<body ng-app="crhope">



<div style="" ng-controller="pjController as ctrl">
    <div style="display: none;">

        <ul>
            <li ng-repeat="rasgos in ctrl.datosPj.modulos[3]"> {{rasgos}}</li>
        </ul>
        <input type="text" ng-model="ctrl.datosPj.atributosFisicos.Nombre[0]"/>
        {{ctrl.maximo}}
    </div>
    <div style="float:right;">
        <button ng-click="ctrl.cargarDatos()">Cargar</button>
        <button ng-click="ctrl.reset()">Reset</button>

     </div>


    <div class="hojaPersonaje">
        <h1>Ficha de PJ</h1>
        <generacion generacion="ctrl.generacion" maximo="5"></generacion>
        <fp-reserva generacion="ctrl.generacion" valor="ctrl.numero"></fp-reserva>
        <fp-puntos modulo="ctrl.moduloPrueba" maximo="ctrl.numero2"></fp-puntos>
        <!--<etiqueta></etiqueta>-->

        </div>


    </div>
</div>







</div>

</body>
</html>