<div class="hojaPersonaje">
    <h1>Ficha de PJ</h1>
    <generacion generacion="ficha.generacion" maximo="maximo"></generacion>
    <div>
        <etiqueta modulo="ficha.modulos[0]"> </etiqueta>
        <etiqueta modulo="ficha.modulos[1]"> </etiqueta>
        <etiqueta modulo="ficha.modulos[2]"> </etiqueta>
    </div>

    <div class="linea">
        <h3>Atributos</h3>
        <topos modulo="ficha.modulos[3]" maximo="maximo"  ></topos>
        <topos modulo="ficha.modulos[4]" maximo="maximo"  ></topos>
        <topos modulo="ficha.modulos[5]" maximo="maximo"></topos>
    </div>
    <div class="linea">
    <fuerza-voluntad temporal="ficha.modulos[6].temporal" permanente="ficha.modulos[6].permanente"></fuerza-voluntad>

    </div>


</div>
</div>