<div class="bloque">

    <h3>{{nombre}}</h3>
    <table>
        <tr>
            <td><span ng-repeat="n in arrayTemporal track by $index" class="circulo {{n}}" ng-click="setTemporal($index+1)"></span></td>
        </tr>
        <tr>
            <td>
                <span ng-repeat="n in arrayPermanente track by $index" class="cuadrado {{n}}" ng-click="setPermanente($index+1)"></span>
            </td>
        </tr>
        <!--<input type="number" ng-model="numero"/>-->

        <!--<div ng-repeat="n in generarReserva(numero) track by $index">-->
        <!--<span ng-if="(($index % 10)===0)"> <div class="linea"></div></span>-->
        <!--<div class="cuadrado"></div>-->
        <!--</div>-->
    </table>
</div>